pos(l = auto, t = auto,r = auto,b = auto)
  position absolute
  top t
  right r
  bottom b
  left l

transform-origin()
  transform-origin arguments;
  -webkit-transform-origin arguments;
  -moz-transform-origin arguments;
  -ms-transform-origin arguments;

sc(val)
  transform: scale(val);

transform(val)
  transform val;
  -webkit-transform val;
  -moz-transform val;
  -ms-transform val;

perspective(val)
  perspective val;
  -webkit-perspective val;
  -moz-perspective val;
  -ms-perspective val;

transition()
  transition arguments;
  -webkit-transition arguments;
  -moz-transition arguments;
  -ms-transition arguments;

transform-style(val)
  transform-style val;
  -webkit-transform-style val;
  -moz-transform-style val;
  -ms-transform-style val;

user-select(val)
  -webkit-user-select: val
  -moz-user-select: val
  -ms-user-select: val
  user-select: val

backface-visibility(val)
  -webkit-backface-visibility: val
  -moz-backface-visibility: val
  -ms-backface-visibility: val
  backface-visibility: val

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  transition arguments

transform-style(val)
  -webkit-transform-style val
  -moz-transform-style val
  -ms-transform-style valtransition
  transform-style val

box-shadow()
  box-shadow  arguments;
  -webkit-box-shadow arguments;
  -moz-box-shadow arguments;
  -ms-box-shadow arguments;

animation()
  animation arguments;
  -webkit-animation arguments;
  -moz-animation arguments;
  -ms-animation arguments;

animation-name()
  animation-name arguments;
  -webkit-animation-name arguments;
  -moz-animation-name arguments;
  -ms-animation-name arguments;

animation-duration()
  animation-duration arguments;
  -webkit-animation-duration arguments;
  -moz-animation-duration arguments;
  -ms-animation-duration arguments;

animation-timing-function()
  animation-timing-function arguments;
  -webkit-animation-timing-function arguments;
  -moz-animation-timing-function arguments;
  -ms-animation-timing-function arguments;

animation-iteration-count()
  animation-iteration-count arguments;
  -webkit-animation-iteration-count arguments;
  -moz-animation-iteration-count arguments;
  -ms-animation-iteration-count arguments;

animation-delay()
  animation-delay arguments;
  -webkit-animation-delay arguments;
  -moz-animation-delay arguments;
  -ms-animation-delay arguments;

animation-direction()
  animation-direction arguments;
  -webkit-animation-direction arguments;
  -moz-animation-direction arguments;
  -ms-animation-direction arguments;

animation-play-state()
  animation-play-state arguments;
  -webkit-animation-play-state arguments;
  -moz-animation-play-state arguments;
  -ms-animation-play-state arguments;

animation-fill-mode()
  animation-fill-mode arguments;
  -webkit-animation-fill-mode arguments;
  -moz-animation-fill-mode arguments;
  -ms-animation-fill-mode arguments;

user-select(){
  user-select  arguments;
  -webkit-user-select arguments;
  -moz-user-select arguments;
  -ms-user-select arguments;
}