$sm = 320px
$md = 540px
$lg = 970px
$xl = 1280px
$xxl = 1440px

$minw = 320px
$maxw = 970px;

body
  margin 0

.creative
  width 100%
  min-width $minw;
  max-width $maxw;
  border solid 1px black
  box-sizing border-box
  position relative
  overflow hidden
  &.x300
    height 300px
  &.x250
    height 250px
  &.x240
    height 240px
  &.x120
    height 120px
  &.x90
    height 90px
  &.no-border
    border none!important

.scale
  transform-origin 0 0;

.xs, .sm, .md, .lg, .xl,.xxl
  display none

show()
  display block
  &.inline
    display inline
  &.inline-block
    display inline-block
@media screen and (max-width: $sm - 1)
  .xs
    show()
@media screen and (min-width: $sm) and (max-width: $md - 1)
  .sm
    show()
@media screen and (min-width: $md) and (max-width: $lg - 1)
  .md
    show()
@media screen and (min-width: $lg) and (max-width: $xl - 1)
  .lg
    show()
@media screen and (min-width: $xl) and (max-width: $xxl - 1)
  .xl
    show()
@media screen and (min-width: $xxl)
  .xxl
    show()

